{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
        <div class="form-signin w-50 m-auto py-5">
        <p>Мы отправили код восстановления на почту <b>{{ email }}</b><br>
        <i>Не забудьте проверить папку "Спам"</i></p>
        <code>В приложении не подключена корпоративная почта для рассылки, код: 111111</code>
        <form method="post">                
                {% csrf_token %}
                <div>
                {% for field in form %}
                        <div class="form-floating">
                        <div>
                        {% if field.help_text != "" %}
                        <blockquote class="text-body-secondary">{{field.help_text}}:</blockquote>
                        {% endif %}
                                        {{ field|add_class:"form-control" }}
                        </div>
                                {% if field.errors%}
                                        {% for error in field.errors %}
                                        <div class="text-warning-emphasis bg-warning-subtle rounded-3">
                                                {{error}}
                                        </div>
                                        {% endfor %}
                                {% endif %}
                                </div>
                {% endfor %}
                </div>
                <div class="py-5">
                        <button class="btn btn-primary py-2" type="submit">Изменить пароль</button>
                </div>
        </form>
        </div>
{% endblock body %}