.alert-red{
    color:red;
    border-color: red;
}
.form-group{
    margin: 10px 0;
}
.form-group input{
    width:250px;height: 25px;border-radius:3px;
}
.title-text{
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}